---
import Text from "./Text.astro";
import Wrapper from "./Wrapper.astro";
---

<Wrapper>
	<div class="footer">
		<a class="link" href="/legal/sites-notice">
			<Text>Site's notice</Text>
		</a>
		<a class="link" href="/legal/privacy-policy">
			<Text>Privacy Policy</Text>
		</a>
	</div>
</Wrapper>

<style lang="scss">
	.footer {
		margin: var(--size-xxxl) auto;
		display: flex;
		gap: var(--size-m);
		color: var(--color-text-variant);

		.link {
			color: unset;
			text-decoration: unset;
		}
	}
</style>
