---
interface Props {
	serif?: boolean;
	bold?: boolean;
	size?: "small" | "regular" | "large" | "huge";
}
const { serif, bold, size } = Astro.props;
---

<p class:list={["text", size, { serif, bold }]}><slot /></p>
<style>
	p {
		margin: 0;
	}
</style>
<style is:global lang="scss">
	body {
		line-height: 1.2;
		font-family: "Rubik", sans-serif;
		font-size: 20px;

		@media (max-width: 540px) {
			font-size: 18px;
		}
	}

	.text.serif {
		font-family: "EB Garamond", serif;
	}

	.text.sans-serif {
		font-family: "Rubik", serif;
	}

	.text.bold {
		font-weight: 600;
	}

	.text.small {
		font-size: 12px;
	}

	.text.large {
		font-size: 40px;
	}

	.text.huge {
		font-size: 48px;
	}

	@media (max-width: 960px) {
		.text.huge {
			font-size: 40px;
		}
	}

	@media (max-width: 540px) {
		.text.huge {
			font-size: 30px;
		}

		.text.large {
			font-size: 26px;
		}
	}
</style>
