---
interface Props {
	serif?: boolean;
	mono?: boolean;
	size?: "small" | "regular" | "large" | "huge";
}
const { serif, mono, size } = Astro.props;
---

<p class:list={[size, { serif, mono }]}><slot /></p>
<style is:global lang="scss">
	body {
		line-height: 1.2;
		font-family: "Space Grotesk", sans-serif;
		font-size: 20px;

		@media (max-width: 540px) {
			font-size: 17px;
		}
	}
</style>
<style lang="scss">
	p {
		margin: 0;
	}

	p.serif {
		font-family: "EB Garamond", serif;
	}

	p.mono {
		font-family: "Space Mono", monospace;
	}

	p.small {
		font-size: 14px;
	}

	p.large {
		font-size: 36px;
	}

	p.huge {
		font-size: 48px;
	}

	@media (max-width: 960px) {
		p.huge {
			font-size: 40px;
		}
	}

	@media (max-width: 540px) {
		p.huge {
			font-size: 24px;
		}

		p.large {
			font-size: 24px;
		}
	}
</style>
