---
interface Props {
    wide?: boolean;
}
const { wide } = Astro.props;
---

<div class:list={["wrapper", { wide }]}>
    <slot />
</div>
<style lang="scss">
    .wrapper {
        max-width: 1080px;
        margin: 0 auto;
        padding: 0 var(--size-m);

        &.wide {
            max-width: 1440px;
        }
    }
</style>
