---
import "@fontsource/eb-garamond";
import "@fontsource/rubik/400.css";
import "@fontsource/rubik/600.css";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
	description?: string;
	noBots?: boolean;
}

const { title, description, noBots } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		{description && <meta name="description" content={description} />}
		{noBots && <meta name="robots" content="noindex" />}
		<script
			defer
			type="text/javascript"
			src="https://api.pirsch.io/pirsch-extended.js"
			id="pirschextendedjs"
			data-code="lYz9SSuWC7XV92r1EEj0WOsHdUJTM8V2"></script>
	</head>
	<body>
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--color-text: #ffffff;
		--color-background: #000000;

		--size-xxxs: 4px;
		--size-xxs: 8px;
		--size-xs: 12px;
		--size-s: 16px;
		--size-m: 24px;
		--size-l: 36px;
		--size-xl: 48px;
		--size-xxl: 72px;
		--size-xxxl: 96px;
		--size-xxxxl: 168px;
		--size-xxxxxl: 256px;
	}
	html {
		background: var(--color-background);
		color: var(--color-text);
	}
	body {
		margin: 0;
	}
</style>
