---
import "@fontsource/space-grotesk";
import "@fontsource/space-mono";
import "@fontsource/eb-garamond";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--color-text: #ffffff;
		--color-background: #000000;
		--size-xxxs: 4px;
		--size-xxs: 8px;
		--size-xs: 12px;
		--size-s: 16px;
		--size-m: 24px;
		--size-l: 36px;
		--size-xl: 48px;
		--size-xxl: 72px;
		--size-xxxl: 96px;
		--size-xxxxl: 168px;
		--size-xxxxxl: 256px;
	}
	html {
		font-family: system-ui, sans-serif;
		background: var(--color-background);
		color: var(--color-text);
		-webkit-font-smoothing: antialiased;
	}
	body {
		margin: 0;
	}
</style>
